# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
node_modules
node_modules

# Exclude PDF and XLSX files
*.pdf
*.xlsx

# Security-related files (based on user's request and common practice)
client_secret_*.json
firebase-admin-key.json
firebase-token.txt
db_connect.php
# server.js might contain sensitive information, excluding for safety.
server.js
shared.sh
upload_firestore_restapi.sh
.metadata

# Large data files exceeding GitHub's limit
data/*.json
!data/candidates_lightweight.json

# FVM Version Cache
.fvm/