<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790419883700-s6idu8ub76bsm76jrcqbe2k4ai3fv73g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790419883700-s6idu8ub76bsm76jrcqbe2k4ai3fv73g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>790419883700-h41in708p3h0pa7j41o4nd4mf8o46on7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHYzjyLYT4RPN6XmMe1dBHIY5cBKWsNxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>790419883700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elecko26.app</string>
	<key>PROJECT_ID</key>
	<string>elecko26-536e0</string>
	<key>STORAGE_BUCKET</key>
	<string>elecko26-536e0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790419883700:ios:de3c8e5a2d00dd32c039e1</string>
</dict>
</plist>